<div class="row">
  <div class="col-xs-2">
    <input type="checkbox" aria-label="select file" [(ngModel)]="file.selected" (change)="onSelect()">
  </div>
  <div class="col-xs-10">
    <div *ngIf="file.edited">
      <input type="text" aria-label="file name" [(ngModel)]="editedName">
      <button class="btn btn-default btn-sm" (click)="onSave()">Save</button>
      <button class="btn btn-warning btn-sm" (click)="onCancel()">Cancel</button>
    </div>
    <div *ngIf="!file.edited">{{file.name}}</div>
  </div>
</div>
